body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  background-image: url("./images/fullBCKG.jpeg");
  background-size: cover;
}

.firstImg {
  left: 0;
  top: 0;
  position: relative;
}

html {
  height: 100%;
  background: linear-gradient(0deg, rgb(34, 32, 33), rgb(38, 37, 35) 80%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  margin: 0%;
}

#header {
  position: relative;
  margin: 0px;
  font-family: "Lobster Two", cursive !important;
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  background: radial-gradient(
    circle,
    rgba(92, 91, 91, 0.7) 4%,
    rgba(25, 51, 2, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  border: 2px solid ;
}

#pizzaDetailsHolder {
  width: 50%;
  height: 90vh;
}

#pizzaDetails{
    background-color: rgba(0,0,0,0.8);
    width: 95%;
    height: 95%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    position: relative;
    display: grid;
    visibility: hidden;
    /* padding:20px; */
}

#pizzaName{
    color: white;
    font-size: 3rem;
}

#pizzaDescription{
    color: white;
    font-size: 2rem;
    padding: 20px; 
    height: 100px; 
}

#pizzaIngredients{
    color: white;
    font-size: 2rem; 
    padding: 0px 20px 40px 20px; 
}
#pizzaPrice{
    display: flex;
    align-items: center;
}

#price{
    color: #ffffff;
    font-size:x-large;
}

#addToCart{
    margin-left: 5%;
    margin-right: 3%;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Lobster Two', cursive !important; 
    cursor: pointer;
}

#add:hover,#substract:hover{
    background-color: lightgreen;
    padding: 0px;
    border-bottom: lightgray 3px solid;
}

.addSubstract{
color:black;
height: 50px;
width: 50px;
font-size: xx-large;
border-radius: 50%;
padding-bottom: 5px;
}
#add{
    right: 10%;
    position: absolute;
}

#substract{
    right: 30%;
    position: absolute;
}

#amount{
    color: #fff;
    font-size: 50px;
    width: 5%;
    height: 5%;
    position: absolute;
    right: 20%;
}

#pizzaBigImgHolder{
    height: 90vh;
    width: 50%;
    position: absolute;
    right: 0px;
    bottom:0px
}

.bigPizzaImg{
    
    scale: 2.3;
    position: absolute;
    right: 0%;
    bottom: 20%;
    transform:rotateX(-20eg)  ;
    
}
.cutter{
    right: -5%;
    scale: 2.4;
    position: absolute;
    bottom: 15%;
}

#logo{
    width: 13vh;
    height: 10vh;
    margin-right: 5px;
}
.headerButton{
    font-family: 'Lobster Two', cursive !important;
    height: 50px;
    width: 125px;
    margin: 0px 5px 0px 10px
}
#loginLogo{
    margin-left: 5px;
}

.checkboxOption{
    position: relative;
    margin: 0px 5px 0px 5px

}
.allergenLabel{
    font-size: 20px;
}


#selector{
    background-color: aliceblue;
    width: 300px;
    animation: anim 0.5s;
    height: 200px;
    position: absolute;
    left:20% ;
    top: 10%;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    z-index: 3;
}

#selector::-webkit-scrollbar {
    visibility: hidden;
}

#selectorClose {
    background-color: aliceblue;
    width: 300px;
    animation: animClose 0.5s;
    height: 0px;
    position: absolute;
    left:20% ;
    top: 10%;
    border-radius: 5px;
    overflow: hidden;
}

@keyframes anim{
    0% {
        height: 0px;
    }
    100%{
        height: 200px;
        
    }
}

@keyframes animClose{
    0% {
        height: 200px;
    }
    100%{
        height: 0px;
    }
}



#openALG:hover{
    background-color:lightgray ;
    border-radius: 5px;
}

#arrowDown:hover{
    font-size:30px;

}

#pizzaList {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border:  rgba(0,0,0,0.1) 10px solid;
    border-radius: 10px;
}
#pizzaList::-webkit-scrollbar{
    overflow-x: hidden;
}

.pizzaCard{
    background-image: url("/frontend/public/images/pozacard_pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}
.pizzaCardImg{
    position: relative;
    scale: 0.5;
    left: -18px;
    top: 101px;
    transform: rotateX(60deg);

} 

#pizzaButton {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 0;
    border-color: transparent;
    /* margin: 0px 3px 3px 3px; */
    border-radius: 10px;
}

.bigImage {
    position: absolute;
    scale: 1.7;
    bottom: -10%;
    right: -2%;
    transform: rotate(-20deg);
    border-radius: 50%;
    visibility: hidden;
}

#backgroundImage {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}
#pizzaDetails {
  background-color: rgba(0, 0, 0, 0.8);
  width: 95%;
  height: 95%;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  position: relative;
  display: grid;
  visibility: hidden;
}

#pizzaName {
  color: white;
  font-size: 3rem;
}

#pizzaDescription {
  color: white;
  font-size: 2rem;
  padding: 20px;
  height: 100px;
}

#pizzaIngredients {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 40px 20px;
}
#pizzaPrice {
  display: flex;

  align-items: center;
}

#addToCart {
  margin-left: 5%;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: "Lobster Two", cursive !important;
}

#add:hover,
#substract:hover {
  background-color: lightgreen;
  padding: 0px;
  border-bottom: lightgray 3px solid;
}

.addSubstract {
  color: black;
  height: 50px;
  width: 50px;
  font-size: xx-large;
  border-radius: 50%;
  padding-bottom: 5px;
}
#add {
  right: 10%;
  position: absolute;
}

#substract {
  right: 30%;
  position: absolute;
}

#amount {
  color: #fff;
  font-size: 50px;
  width: 5%;
  height: 5%;
  position: absolute;
  right: 20%;
}

#pizzaBigImgHolder {
  height: 90vh;
  width: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.bigPizzaImg {
  scale: 2.3;
  position: absolute;
  right: 0%;
  bottom: 20%;
  transform: rotateX(-20eg);
}
.cutter {
  right: -5%;
  scale: 2.4;
  position: absolute;
  bottom: 15%;
  visibility: hidden;
}

#logo {
  width: 13vh;
  height: 10vh;
  margin-right: 5px;
}

#loginHandle {
  position: absolute;
  right: 1rem;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  
  margin-right: 10px;
}

#loginLogo {
  margin-left: 5px;
}

#cartHandle {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 12rem;
}

#input {
  width: 210px;
  position: absolute;
  height: 40%;
  display: flex;
  justify-content: center;
  left: 12rem;
}

.checkboxOption {
  position: relative;
  margin: 0px 5px 0px 5px;
}
.allergenLabel {
  font-size: 20px;
}

#selector {
  background-color: #0e1822;
  color: #f2f2f2;
  width: 300px;
  animation: anim 0.5s;
  height: 200px;
  position: absolute;
  left: 10rem;
  top: 10%;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
  display: grid;
  z-index: 3;
}

#selector::-webkit-scrollbar {
  visibility: hidden;
}

#selectorClose {
  color: #f2f2f2;
  background-color: #0e1822;
  width: 300px;
  animation: animClose 0.5s;
  height: 0px;
  position: absolute;
  left: 10rem;
  top: 10%;
  border-radius: 5px;
  overflow: hidden;
}

@keyframes anim {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

@keyframes animClose {
  0% {
    height: 200px;
  }
  100% {
    height: 0px;
  }
}

#openALG {
  position: relative;
  margin-left: 0px;
  right: 0px;
  height: 30%;
  transition: 0.5s;
}
#arrowDown:hover {
  font-size: 30px;
}

#pizzaList {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: rgba(0, 0, 0, 0.1) 10px solid;
  border-radius: 10px;
}
#pizzaList::-webkit-scrollbar {
  overflow-x: hidden;
}

.pizzaCard {
  background-image: url("/frontend/public/images/pozacard_pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.pizzaCardImg {
  position: relative;
  scale: 0.5;
  left: -18px;
  top: 101px;
  transform: rotateX(60deg);
}

#pizzaButton {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 0;
  border-color: transparent;
  border-radius: 10px;
}

.bigImage {
  position: absolute;
  scale: 1.7;
  bottom: -10%;
  right: -2%;
  transform: rotate(-20deg);
  border-radius: 50%;
  visibility: hidden;
}

#backgroundImage {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
}

#pizzaName {
  font-family: "bradley hand", cursive;
  color: white;
  font-size: 40px;
  position: relative;
  top: 25%;
}

#pizzaPrice {
  font-family: "bradley hand", cursive;
  color: white;
  font-size: 40px;
  position: relative;
  top: 15%;
}

#userDetails {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 350px;
  height: 600px;
  border-radius: 7%;
  background-color: gray;
  z-index: 2;
  display: flex;
  justify-content: center;
}

#nameInput {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: white;
  top: 13%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  border-bottom: 1px solid;
}

#emailInput {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: white;
  top: 36%;
  color: white;
}

#cityInput {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: white;
  top: 59%;
  color: white;
}

#streetInput {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: white;
  top: 82%;
  color: white;
}

body {
  min-height: 100vh;
  background: #202021;
}

.wrapper {
  visibility: hidden;
  display: flex;
  max-width: 99%;
  position: absolute;
  margin-left: 0.6%;
  margin-top: 10%;
  bottom: 35%;
}

.wrapper i {
  top: 120%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  left: 10%;
  display: none;
  z-index: 1;
}
.wrapper i:last-child {
  right: 10%;
  z-index: 1;
}
.carousel {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel > * {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel > *:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel > * {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel > * {
    width: 100%;
  }
}
.pizzaCard {
  background-image: url("/images/pozacard_pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.pizzaCardImg {
  position: relative;
  scale: 60%;
  left: -5px;
  top: 63px;
  transform: rotateX(60deg);
}
#pizzaBTN {
  position: absolute;
  left: 12%;
  top: 90%;
}
.pizzaName {
  color: rgb(255, 255, 255);
  font-family: "Tilt Prism", cursive;

  font-size: 40px;
}
.pizzaNameHolder {
  position: relative;
  left: 25%;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6%;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.wrapperHandler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.group {
  position: relative;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid white;
  padding: 120px 40px;
  padding-top: 60px;
  padding-bottom: 90px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  width: 20%;
  height: 50%;
}

.form p {
  position: absolute;
  top: 8%;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: white;
}

.container-1 {
  padding-top: 30px;
}

.main-input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 185px;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  background: transparent;
  color: #ffffff;
}

.main-input:focus {
  outline: none;
  border-bottom-color: #e40e1c;
}

.lebal-email {
  color: #999999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.main-input:focus ~ .lebal-email,
.main-input:valid ~ .lebal-email {
  top: -20px;
  font-size: 14px;
  color: #ea0c0c;
}

.highlight-span {
  position: absolute;
  height: 60%;
  width: 0px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.main-input:focus ~ .highlight-span {
  -webkit-animation: input-focus 0.3s ease;
  animation: input-focus 0.3s ease;
}

@keyframes input-focus {
  from {
    background: #fa5454;
  }
  to {
    width: 185px;
  }
}
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid white;
    padding: 120px 40px;
    padding-top: 60px;
    padding-bottom: 90px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    width: 20%;
    height: 50%;
    z-index: 4;
    bottom: 23%;
  }
  
  .form p {
    position: absolute;
    top: 8%;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .5px;
    color: white;
  }
  
  .container-1 {
    padding-top: 30px;
  }
  
  .main-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background: transparent;
    color: #ffffff;
  }
  
  .main-input:focus {
    outline: none;
    border-bottom-color: #e40e1c;
  }
  
  .lebal-email {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .main-input:focus ~ .lebal-email,
  .main-input:valid ~ .lebal-email {
    top: -20px;
    font-size: 14px;
    color: #ea0c0c;
  }
  
  .highlight-span {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  .main-input:focus ~ .highlight-span {
    -webkit-animation: input-focus 0.3s ease;
    animation: input-focus 0.3s ease;
  }
  
  @keyframes input-focus {
    from {
      background: #fa5454;
    }
  
    to {
      width: 185px;
    }
  }
  
  .submit {
    margin-top: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    bottom: 15%;
    width: 200px;
    height: 50px;
    font-size: 18px;
}

#alert{
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    color: red;
    margin-bottom: 20px;
    transition: 0.5s;
    

}

#divTransparent {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(0,0,0,0.7);
    z-index: 3;
}

#secondRoot {
    display: flex;
    justify-content: center;
}

#cartBackground{
     background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    
}

#cartList{
    background-color: black;
    width: 30%;
    height: 70%;
    left:35%;
    position: relative;
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 7px;
}

.cartListItem{
    width: 100%;
    height: 10%;
    background-color: lightgrey;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productName{
    font-size: x-large;
}

.productCuantity{
    font-size: x-large;
}

#checkoutHolder{
    height: 7%;
    width:  30%;
    position: relative;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#totalPrice{
    font-size: xx-large;
    color: white;
}

#checkoutBtn{
    width: 30%;
    height: 50%;
}

#backFromCart{
    height: 100px;
    border: transparent;
    background-color: transparent;
    color: #fff;
    font-size: xx-large;
}

#cartAlert{
    visibility: hidden;
    color: #e40e1c;
    font-size: large;
    position: relative;
    height: 10px;
}


/* epty cart message */
.cartTransparentDiv{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    background-color: white;
    visibility: hidden;
    position: absolute;
    bottom: 20%;
}

.sadImg {
    position: absolute;
    display: flex;
    z-index: 4;
    height: 65%;
    top: 13%;
}

.sadPizzaHeader {
    position: absolute;
    height: 65px;
    width: 100%;
    border-bottom: 1px solid;
    color: rgba(0,0,0,0.2);
}

.sadPizzaP1 {
    position: absolute;
    width: 500px;
    height: 80px;
    color: black;
    bottom: 7%;
    font-size: 39px;
}

.sadPizzaP2 {
    position: absolute;
    width: 600px;
    height: 80px;
    color: black;
    bottom: 2%;
    right: 8%;
    font-size: 20px;

 
}

.submit {
  margin-top: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  bottom: 15%;
  width: 200px;
  height: 50px;
}

#divTransparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ! */
.headerButton {
  font-family: "Ropa Sans", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0e1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0e1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
}

.headerButton:hover {
  border: 1px solid #ff4655;
  color: white;
  background-position: 40%;
}

.headerButton:before {
  content: "";
  position: absolute;
  background-color: #0e1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}

.headerButton:hover:before {
  background-color: white;
}

.headerButton:hover:after {
  background-color: white;
}

.headerButton:after {
  content: "";
  position: absolute;
  background-color: #ff4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0e1822;
  border-bottom: 0px;
}

.button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0e1822;
  border-top: 0px;
  z-index: 0;
}

.shape {
  fill: #0e1822;
}
#menuDiv {
  left: 50%;
}
#contactDiv {
  left: 20%;
}
#cartHover {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 25px;
}
#loginHover {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 78px;
}