body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.6);
}

#root{
    background-image: url("./images/fullBCKG.jpeg");
    background-size:cover;
   
}

.firstImg {
    left: 0;
    top: 0;
    position: relative;
}

html {
    height: 100%;
    background: linear-gradient(0deg, rgb(34, 32, 33), rgb(38, 37, 35) 80%) ;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height:100%;
    margin: 0%;
}

#header{
    position: relative;
    margin: 0px;
    font-family: 'Lobster Two', cursive !important;
    width: 100vw;
    height: 10%;
    background-image: linear-gradient(rgb(174, 2, 2) , rgb(0,0,0));
    display:flex;
    align-items: center;
}

#pizzaDetailsHolder{
    width: 50%;
    height: 90vh;   
}

#pizzaDetails{
    background-color: rgba(0,0,0,0.8);
    width: 95%;
    height: 95%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    position: relative;
    display: grid;
    /* padding:20px; */
}

#pizzaName{
    color: white;
    font-size: 3rem;
    

}

#pizzaDescription{
    color: white;
    font-size: 2rem;
    padding: 20px; 
    height: 100px; 
}

#pizzaIngredients{
    color: white;
    font-size: 2rem; 
    padding: 0px 20px 40px 20px; 
}
#pizzaPrice{
    display: flex;
    
    align-items: center;
}

#addToCart{
    margin-left: 5%;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Lobster Two', cursive !important; 
}

#add:hover,#substract:hover{
    background-color: lightgreen;
    padding: 0px;
    border-bottom: lightgray 3px solid;
}

.addSubstract{
color:black;
height: 50px;
width: 50px;
font-size: xx-large;
border-radius: 50%;
padding-bottom: 5px;
}
#add{
    right: 10%;
    position: absolute;
}

#substract{
    right: 30%;
    position: absolute;
}

#amount{
    color: #fff;
    font-size: 50px;
    width: 5%;
    height: 5%;
    position: absolute;
    right: 20%;
}

#pizzaBigImgHolder{
    height: 90vh;
    width: 50%;
    position: absolute;
    right: 0px;
    bottom:0px
}

.bigPizzaImg{
    
    scale: 2.3;
    position: absolute;
    right: 0%;
    bottom: 20%;
    transform:rotateX(-20eg)  ;
    
}
.cutter{
    right: -5%;
    scale: 2.4;
    position: absolute;
    bottom: 15%;
}

#loginHandle:hover{
    background-color: red;
    top:16px;
}
#cartHandle:hover{
    background-color: red;
    top:16px;
}

#logo{
    width: 13vh;
    height: 10vh;
    margin-right: 5px;
}
.headerButton{
    font-family: 'Lobster Two', cursive !important;
    height: 50px;
    width: 125px;
    margin: 0px 5px 0px 10px
}
#loginHandle{
    position: absolute;
    right: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: brown;
    margin-right: 10px;
}
#loginLogo{
    margin-left: 5px;
}

#cartHandle{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 115px;
    border-radius: 10px;
    background-color: brown;
    
}

#input {
    width: 175px;
    position: relative;
    border-radius: 10px 10px 3px 3px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.checkboxOption{
    position: relative;
    margin: 0px 5px 0px 5px

}
.allergenLabel{
    font-size: 20px;
}


#selector{
    background-color: aliceblue;
    width: 300px;
    animation: anim 0.5s;
    height: 200px;
    position: absolute;
    left:20% ;
    top: 10%;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    z-index: 1;
}

#selector::-webkit-scrollbar {
    visibility: hidden;
}

#selectorClose {
    background-color: aliceblue;
    width: 300px;
    animation: animClose 0.5s;
    height: 0px;
    position: absolute;
    left:20% ;
    top: 10%;
    border-radius: 5px;
    overflow: hidden;
}

@keyframes anim{
    0% {
        height: 0px;
    }
    100%{
        height: 200px;
        
    }
}

@keyframes animClose{
    0% {
        height: 200px;
    }
    100%{
        height: 0px;
    }
}


#openALG{
    position: relative;
    margin-left:10px ;
    right: 0px;
    background-color: transparent;
    border: transparent;
    transition: 0.5s;
    /* right: 10px;
    background-color: black;
    top: 10px;
    cursor: pointer;
    height: 10px;
    border-radius: 100%; */
}

#openALG:hover{
    background-color:lightgray ;
    border-radius: 5px;
}

#arrowDown:hover{
    font-size:30px;

}

#pizzaList {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border:  rgba(0,0,0,0.1) 10px solid;
    border-radius: 10px;
}
#pizzaList::-webkit-scrollbar{
    overflow-x: hidden;
}

.pizzaCard{
    background-image: url("/frontend/public/images/pozacard_pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}
.pizzaCardImg{
    position: relative;
    scale: 0.5;
    left: -18px;
    top: 101px;
    transform: rotateX(60deg);

} 

#pizzaButton {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0);
    z-index: 0;
    border-color: transparent;
    /* margin: 0px 3px 3px 3px; */
    border-radius: 10px;
}

.bigImage {
    position: absolute;
    scale: 1.7;
    bottom: -10%;
    right: -2%;
    transform: rotate(-20deg);
    border-radius: 50%;
    visibility: hidden;
}

#backgroundImage {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

body {
  min-height: 100vh;
  background: #202021;
}
.wrapper {
  visibility: hidden;
  display: flex;
  max-width: 99%;
  position: absolute;
  margin-left:0.6%;
  margin-top: 10%;
 
}
.wrapper i {
  top: 120%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  left: 10%;
  display: none;
  z-index: 1;
}
.wrapper i:last-child {
  right: 10%;
  z-index: 1;
}
.carousel {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel > * {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel > *:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel  > * {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel  > * {
    width: 100%;
  }
}
.pizzaCard{
    background-image: url("/images/pozacard_pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}
.pizzaCardImg{
    position: relative;
    scale: 60%;
    left: -5px;
    top: 63px;
    transform: rotateX(60deg);

}
#pizzaBTN{
  position: absolute;
    left: 12%;
    top: 90%;
}
.pizzaName{
  color: rgb(255, 255, 255);
   font-family: 'Tilt Prism', cursive;
    
    font-size: 40px;
}
.pizzaNameHolder{
  POSITION: relative;
    left: 25%;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
    top: 6%
    
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}