body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.6);
}

.firstImg {
    left: 0;
    top: 0;
    position: relative;
    
}

html {
    height: 100%;
    background: linear-gradient(0deg, rgb(34, 32, 33), rgb(38, 37, 35) 80%) ;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height:99%;
    margin: 0%;
}

#header{
    position: relative;
    margin: 0px;
    font-family: 'Lobster Two', cursive !important;
    width: 100vw;
    height: 10%;
    background-color: red;
    display:flex;
    align-items: center;
}
#logo{
    width: 13vh;
    height: 10vh;
    margin-right: 5px;
}
.headerButton{
    font-family: 'Lobster Two', cursive !important;
    height: 50px;
    width: 125px;
    margin: 0px 5px 0px 10px
}
#loginHandle{
    position: absolute;
    right: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: brown;
    margin-right: 10px;
}
#loginLogo{
    margin-left: 5px;
}

#cartHandle{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 115px;
    border-radius: 10px;
    background-color: brown;
    
}

#input {
    width: 300px;
    position: absolute;
    left:calc(50% - 150px) ;
    top: 13vh;
    border-radius: 10px 10px 3px 3px;
    height: 25px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    
}

.checkboxOption{
    position: relative;
    margin: 0px 5px 0px 5px

}
.allergenLabel{
    font-size: 20px;
}


#selector{
    background-color: aliceblue;
    width: 300px;
    animation: anim 0.5s;
    height: 200px;
    position: absolute;
    left:calc(50% - 150px) ;
    top: 16%;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
}

#selector::-webkit-scrollbar {
    visibility: hidden;
}

#selectorClose {
    background-color: aliceblue;
    width: 300px;
    animation: animClose 0.5s;
    height: 0px;
    position: absolute;
    left:calc(50% - 150px) ;
    top: 15%;
    border-radius: 5px;
    overflow: hidden;
}

@keyframes anim{
    0% {
        height: 0px;
    }
    100%{
        height: 200px;
        
    }
}

@keyframes animClose{
    0% {
        height: 200px;
    }
    100%{
        height: 0px;
    }
}
#textALG{
    position:relative;
    top:-10px;
}

#openALG{
    position: absolute;
    margin-left:10px ;
    right: 0px;
    background-color: transparent;
    border: transparent;
    transition: 0.5s;
    /* right: 10px;
    background-color: black;
    top: 10px;
    cursor: pointer;
    height: 10px;
    border-radius: 100%; */
}

#openALG:hover{
    background-color:lightgray ;
    border-radius: 5px;
}

#arrowDown:hover{
    font-size:30px;

}

#pizzaList {
    width: 50%;
    height: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border:  rgba(0,0,0,0.3) 10px solid;
    border-radius: 10px;
}
#pizzaList::-webkit-scrollbar{
    overflow-x: hidden;
}

#pizzaCard {
   min-width: 30%;
    height: 95%;
    position: relative;
    background-color: transparent;
    /* margin: 0px 3px 3px 3px; */
    border-radius: 10px;
    top: 5%;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;

}

.pizzaCardImg{
    background-color: white;
    height: 45%;
    border-radius: 10px;
    position: relative;
    top: 3%;
    width: 80%;
    left: 10%;
    z-index: 1;
}

#pizzaButton {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 0;
    /* margin: 0px 3px 3px 3px; */
    border-radius: 10px;
}

.bigImage {
    position: absolute;
    height: 1100px;
    width: 1400px;
    bottom: -35%;
    right: -30%;
    border-radius: 50%;
    visibility: hidden;
}

#backgroundImage {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

#pizzaName {
    font-family: "bradley hand", cursive;
    color: white;
    font-size: 40px;
    position: relative;
    top: 25%;
}

#pizzaPrice {
    font-family: "bradley hand", cursive;
    color: white;
    font-size: 40px;
    position: relative;
    top: 15%;
}

#userDetails {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 350px;
    height: 600px;
    border-radius: 7%;
    background-color: gray;
    z-index: 2;
    display: flex;
    justify-content: center;

}

#nameInput {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: white;
    top: 13%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    border-bottom: 1px solid;

}

#emailInput {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: white;
    top: 36%;
    color: white;
}

#cityInput {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: white;
    top: 59%;
    color: white;
}

#streetInput {
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: white;
    top: 82%;
    color: white;
}

#divTransparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

.group {
    position: relative;
  }
  
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid white;
    padding: 120px 40px;
    padding-top: 60px;
    padding-bottom: 90px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    width: 20%;
    left: 70%;
    top: 20%;
  }
  
  .form p {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .5px;
    color: white;
  }
  
  .container-1 {
    padding-top: 30px;
  }
  
  .main-input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 185px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background: transparent;
    color: #ffffff;
  }
  
  .main-input:focus {
    outline: none;
    border-bottom-color: #e40e1c;
  }
  
  .lebal-email {
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .main-input:focus ~ .lebal-email,
  .main-input:valid ~ .lebal-email {
    top: -20px;
    font-size: 14px;
    color: #ea0c0c;
  }
  
  .highlight-span {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  .main-input:focus ~ .highlight-span {
    -webkit-animation: input-focus 0.3s ease;
    animation: input-focus 0.3s ease;
  }
  
  @keyframes input-focus {
    from {
      background: #fa5454;
    }
  
    to {
      width: 185px;
    }
  }
  
  .submit {
    margin-top: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
  }